/.settings/
.project
.classpath
/target/

/agencyapi/bin/
/agencyapi/target/
/agencyapi/.settings/
/agencyapi/.project
/agencyapi/.classpath

/*/bin/
/*/target/
/*/.settings/
/*/.project
/*/.classpath

*.jar
*.class
*.war
